<div class="col-md-8 container-fluid">
  <h2 class="text-center">Add Room</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6" style="float: left">
      <div class="form-group">
        <label>Code:</label>
        <input
          type="text"
          formControlName="code"
          placeholder="Code"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
        />
        <div *ngIf="submitted && f.code.errors">
          <div *ngIf="f.code.errors.required">Room Code is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Name:</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div *ngIf="submitted && f.name.errors">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Rate:</label>
        <input
          type="text"
          formControlName="rate"
          placeholder="Room rate"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.rate.errors }"
        />
        <div *ngIf="submitted && f.rate.errors">
          <div *ngIf="f.rate.errors.required">Rate is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Image:</label>
        <input
          type="text"
          formControlName="image"
          placeholder="Image"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.image.errors }"
        />
        <div *ngIf="submitted && f.image.errors">
          <div *ngIf="f.image.errors.required">Image is required</div>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="float: right">
      <div class="form-group">
        <label>Description:</label>
        <textarea
          type="text"
          formControlName="description"
          placeholder="Description"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          style="height: 125px; resize: none"
        ></textarea>
        <div *ngIf="submitted && f.description.errors">
          <div *ngIf="f.description.errors.required">
            Description is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Link:</label>
        <input
          type="text"
          formControlName="link"
          placeholder="Link"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.link.errors }"
        />
        <div *ngIf="submitted && f.link.errors">
          <div *ngIf="f.link.errors.required">Link is required</div>
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-info"
      style="width: 100px; margin-left: 50px; margin-top: 20px"
    >
      Save
    </button>
  </form>
</div>
